{% extends "template.html" %}
{% block conteudo %}
     <form action="{{url_for('atualizar_usuario')}}" method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{usuario.id}}">
           <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" class="form-control" value="{{usuario.login}}" disabled>
          </div>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{usuario.nome}}">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control" value="{{usuario.senha}}">
          </div>
          <div class="button-group">

                <a href="{{url_for('menu') }}">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                 </a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </fieldset>
      </form>
{% endblock %}