<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
  <style>
        /* Custom CSS styles */
        /* Add your custom styles here if needed */
        .btn-group-vertical {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn-group-vertical .btn {
            width: 400px; /* Defina o tamanho desejado */
            margin-bottom: 10px; /* Espaçamento entre os botões */
        }
    </style>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Faça seu login</h1>
        <form method="POST" action="{{url_for('autenticar')}}">
            <input type = "hidden" name = "proxima" value = "{{proxima}}">
            <p><label>Login:</label> <input class="form-control" type="text" name="usuario" required></p>
            <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>

              <div class="btn-group-vertical">

               <button type="submit" class="btn btn-primary">Entrar</button>

                <a href="{{url_for('cadastrar_usuario')}}">
                    <button type="button" class="btn btn-primary">Faça seu cadastro</button>
                </a>
        </div>
        </form>


</body>
</html>